@import "./partials/bootstrap-overrides";
@import "./partials/reset";

body {
}
header {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 244%);
}
main {
  max-width: 1480px;
  margin: auto;
}
.navbar {
  max-width: 1480px;
  margin: auto;
  .navbar-brand {
    margin-left: -10px;
  }
}
.tvshows-header {
  display: flex;
  align-items: center;
  h1 {
    font-size: 2rem;
  }
  .genres {
    padding-left: 15px;
  }
}

.media {
  h2 {
    font-size: 1rem;
  }
}

.margin-bottom-big {
  margin-bottom: 30px;
}

footer {
  margin-top: 100px;
  max-width: 823px;
  margin-inline: auto;
  font-size: 0.8rem;
  .socials {
    gap: 30px;
  }
}

.profile {
  max-width: 600px;
}

.checkbox-xl .form-check-input {
  top: 1.2rem;
  scale: 1.7;
  margin-right: 0.8rem;
}
